@import './base.css';
@import '//at.alicdn.com/t/c/font_3859342_6edyvdmtfj.css';
/* ok */
/* @import url(//at.alicdn.com/t/c/font_3859342_6edyvdmtfj.css); */

.sn {
  counter-reset: sn;
}

.sn li {
  counter-increment: sn;
}

.sn li::before {
  content: counter(sn)'. ';
}

.iconfont {
  font-size: 2.4rem;
}

ol>li,
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .w {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
} */

.warn {
  color: var(--warn-color);
}

.cb-custom {
  display: inline-block;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border: 1px solid var(--dark-bg-color);
  border-radius: 50%;
  margin-right: 4px;
}

.cb-custom:checked {
  background-color: var(--main-color);
  color: #fff;
}

.cb-custom:checked::before {
  content: '\eb78';
  font-family: 'iconfont';
}

.txt-center {
  text-align: center;
}

.txt-del {
  text-decoration: line-through;
}

.f-b {
  font-weight: 600;
}

.f-s-b {
  font-size: 2.0rem;
}

.f-s-m {
  font-size: 1.8rem;
}

.f-s-s {
  font-size: 1.4rem;
}

.p-1 {
  padding: var(--p-m-g);
}

.p-b-10 {
  margin-bottom: 10rem;
}

.m-1 {
  margin: var(--p-m-g);
}

.mb-1,
.m-b-1 {
  margin-bottom: var(--p-m-g);
}

.m-b-2 {
  margin-bottom: calc(var(--p-m-g) * 2);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--p-m-g);
}

/* router style */
.nav-color {
  color: var(--main-color);
}

.exact-nav-color {
  color: var(--main-color);
}

/* transition style */
.fade-list-move,
.fade-list-enter-active,
.fade-list-leave-active {
  transition: all 0.5s var(--delay) ease;
}

.fade-list-leave-active {
  position: absolute;
}

.fade-list-enter-from,
.fade-list-leave-to {
  opacity: 0;
  transform: translateY(-30px) translateX(30px);
}